@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --cor1: #FFFFFF;
    --cor2:#001ca4;
    --cor3: #FFD700; 
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc;
    font-size: 1.25rem;
}

h1 {
    margin: auto;
    text-align: center;
    color: var(--cor2);
}

main {
    width: 400px;
    margin: auto;
}

.conteudo {
    margin: auto;
    background-color: var(--cor3);
    border-radius: 10px;
}
.form-group {
    margin: auto;
    padding: 10px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}


p {
    display: flex;
    /*flex-direction: column;*/
    margin: 10px auto;
    justify-content: center;
    padding: 10px;
}

label {
    padding: 10px;
    font-weight: bold;
}

input[type=number] {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
}

#media {
    border: 2px solid #000;
    border-radius: 5px;
}

.botoes {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.botao {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#btnCalc {
    background-color: lightblue;
    border: 3px outset lightblue;
}

#btnRst {
    border: 3px outset lightsalmon;
    background-color: lightsalmon;
}

.cx {
    width: 100%;
    background: #ccc;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.alerta {
    background: #ff0000;
    padding: 5px;
    border-radius: 5px;
}

.aprovado {
    background: #64dd17;
}

.recuperacao {
    background: #ffc107;
}

.reprovado {
    background: #f44336;
}