@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    /* As hex codes */ 
    /* Main Primary color */
    --primary-0:#0028AA; 
    --primary-1:#174BF6; 
    --primary-2:#0036E8; 
    --primary-3:#002088; 
    --primary-4:#001866; 

    /* Main Secondary color (1) */
    --secondary-1-0:#3000AD; 
    --secondary-1-1:#5416F6; 
    --secondary-1-2:#4100E9; 
    --secondary-1-3:#26008A; 
    --secondary-1-4:#1D0068; 

    /* Main Secondary color (2) */
    --secondary-2-0:#FCD400; 
    --secondary-2-1:#FFD700; 
    --secondary-2-2:#FFD700; 
    --secondary-2-3:#C9AA00; 
    --secondary-2-4:#978000; 

    /* Main Complement color */
    --complement-0:#FCAD00;  
    --complement-1:#FFB000; 
    --complement-2:#FFB000; 
    --complement-3:#C98B00; 
    --complement-4:#976800;
    
    /* White Color */
    --main-background: #FFFFFF;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background);
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem; 
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    color: var(--secondary-1-2);
    text-align: center;
}

.centro {
    margin-top: 0.625rem;
    text-align: center;
}

.imgDado {
    width: 200px;
}

#btnSortear {
    box-shadow: 1px 1px 5px blueviolet;
}

#sorteado {
    background: var(--secondary-1-2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

/* Animar Dado */
@keyframes mover {
    0% {
        transform: translateY(0px); /* Mover no eixo Y vertical */
        transform: rotate(45deg); /* Rotacionar 90 graus */
        opacity: 0; /* opacidade 0 = 100% transparente */
        }
    50% {
        transform: scale(50%); /* mudar tamanho 50% */
        }
    100% {
        transform: translateY(-15px); /* Mover no eixo Y vertical */
        transform: rotate(-45deg); /* Rotacionar 90 graus */
        opacity: 1; /* opacidade 0 = 100% transparente */
    }
}
 
@keyframes aparecer {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }   
}

.animar {
    animation: mover 0.5s infinite alternate;
    /*
        animation: mover 0.5s infinite alternate;
        animation: mover 0.5s linear infinite;
        animation-iteration-count: infinite;
        animation-direction: alternate; */
}

.aparecer {
    animation: aparecer 1.5s ease-in;
}